# simply copy to faafo.cfg and then provide the required parameters in that copy.
# Never check faafo.cfg into Version Control!!!
[Connection]
auth_username =
auth_password =
auth_url =
project_name =
region_name =

[Cloud]
# Ubuntu 14.04
image_id = 2a882d9c-3185-414c-9683-a4646b5c785e
# m2.small
flavor_id = 639b8b2a-a5a6-4aa2-8592-ca765ee7af63

[Credentials]
keypair_name =